<input type="number" [(ngModel)]="size" />
<button type="button" class="btn btn-primary" (click)="generate()">Generar</button>
<button type="button" class="btn btn-secondary" (click)="validate()">Validar</button>


<table class="table">
    <thead>
      <tr>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of game; let i = index">
        <td *ngFor="let col of game; let x = index">
          <input id="{{ i }}-{{ x }}" type="text" placeholder="{{game[i][x]}}"/>
        </td>
      </tr>
    </tbody>
  </table>