main {
    width: 100%;
    text-align: center;
}

mat-card {
    margin: auto;
    width: 90%;
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 600px;
}

ul {
  display: inline-block;
  width: 50px;
  margin-right: 300px;
}

.table th,
.table td {
  border-top: none !important;
  width: auto !important
}

table tr td input {
  outline: none;
  border: 1px solid black;
  border-radius: 100%;
  text-align: center;
  width: 20%;
  height: 80px;
}

table td {
  position: static;
  display: table-cell;
  float: none;
}
