main {
    width: 100%;
    text-align: center;
}

mat-card {
    margin: auto;
    width: 90%;
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 600px;
}

ul {
    display: inline-block;
    width: 50px;
    margin-right: 300px;
}

.table th,
.table td {
    border-top: none !important;
    width: auto !important
}

input {
    outline: none;
    border: 1px solid black;
    border-radius: 100%;
    text-align: center;
    width: 10%;
    height: 40px;
}

table td {
    position: static;
    display: table-cell;
    float: none;
}

.has-error {
    color: #ef5350 !important;
    border-color: #ef5350 !important;
}

@media screen and (max-width:640px) {
    input {
        outline: none;
        border: 1px solid black;
        border-radius: 100%;
        text-align: center;
        width: 40%;
        height: 40px;
    }
}

@media screen and (max-width:1024px) and (min-width:640px) {
    /* reglas CSS */
}

@media screen and (min-width:1024px) {
    /* reglas CSS */
}