<main>
    <mat-card class="mat-elevation-z2">
        <div class="card-header text-right">
            <button mat-button color="primary" *ngIf="streams.length > 0 && !showSolutionClicked" (click)="showResult()">
        Show Solution
      </button>
            <button mat-button color="primary" *ngIf="streams.length > 0 && showSolutionClicked" (click)="hideResult()">
        Hide Solution
      </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="newGame('3X3')"><span>3X3</span></button>
                <button mat-menu-item (click)="newGame('4X4')"><span>4X4</span></button>
                <button mat-menu-item (click)="newGame('5X5')"><span>5X5</span></button>
                <button mat-menu-item (click)="newGame('6X6')"><span>6X6</span></button>
                <button mat-menu-item (click)="newGame('7X7')"><span>7X7</span></button>
            </mat-menu>
        </div>
        <table class="table">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of streams; let i = index">
                    <td *ngFor="let col of streams; let x = index">
                        <input id="{{ i }}-{{ x }}" type="text" (keypress)="keyPress($event)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</main>

<div *ngIf="isLoading">
    <mat-progress-spinner [mode]="'indeterminate'"> </mat-progress-spinner>
</div>