<header class="header mt-1 text-center">
    <h1>Strimko</h1>
    <p style="color: #777" class="mb-1">
        Julian Cedeño - Julio Ávila - Oscar Olaya
    </p>
</header>

<router-outlet></router-outlet>

<div class="footer mb-4 mt-5">
    <br /> Julian Cedeño - Julio Ávila - Oscar Olaya - Strimko
</div>
